.post {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    .info {
        strong {
            margin-right: 1rem;
        }
    }

}

:host ::ng-deep {
    .ql-editor {
        padding: 12px 0;
    }
}